<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button class="btn btn-link" routerLink="/">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>16.12.2000</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nisi voluptatibus sint similique nihil reprehenderit numquam, consequatur doloribus distinctio voluptatum eligendi itaque tempora dicta! Ad, blanditiis, reiciendis nam inventore quisquam ea impedit dicta quaerat pariatur facilis officiis rem cupiditate, id amet. Mollitia ab quia placeat earum, cumque asperiores perferendis et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nisi voluptatibus sint similique nihil reprehenderit numquam, consequatur doloribus distinctio voluptatum eligendi itaque tempora dicta! Ad, blanditiis, reiciendis nam inventore quisquam ea impedit dicta quaerat pariatur facilis officiis rem cupiditate, id amet. Mollitia ab quia placeat earum, cumque asperiores perferendis et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nisi voluptatibus sint similique nihil reprehenderit numquam, consequatur doloribus distinctio voluptatum eligendi itaque tempora dicta! Ad, blanditiis, reiciendis nam inventore quisquam ea impedit dicta quaerat pariatur facilis officiis rem cupiditate, id amet. Mollitia ab quia placeat earum, cumque asperiores perferendis et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nisi voluptatibus sint similique nihil reprehenderit numquam, consequatur doloribus distinctio voluptatum eligendi itaque tempora dicta! Ad, blanditiis, reiciendis nam inventore quisquam ea impedit dicta quaerat pariatur facilis officiis rem cupiditate, id amet. Mollitia ab quia placeat earum, cumque asperiores perferendis et.</p>
    </div>
</div>